// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --usina-orange-color: #f67f06;
  --usina-purple-color: #6a36e8;
  --usina-aqua-color: #7df0d3;
  --usina-dark-color: #161616;

  --ion-font-family: 'Oswald', sans-serif;
}
