<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button slot="start" fill="clear" shape="round">
      <ion-icon
        name="menu"
        slot="icon-only"
        color="dark"
        size="large"
      ></ion-icon>
    </ion-button>

    <div class="usina-logo-container">
      <img src="../../assets/images/usina-play-logo.svg" class="logo" />
    </div>

    <ion-buttons slot="end">
      <ion-button class="notification-button" fill="clear" shape="round">
        <ion-icon name="notifications" slot="icon-only" size="small"></ion-icon>
        <span class="notification-badge"></span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="profile-section" color="light">
    <div class="profile-container">
      <ion-avatar class="profile-avatar">
        <img [src]="(user$ | async)?.avatar" />
      </ion-avatar>
      <div class="profile-info">
        <h2>{{ (user$ | async)?.name }}</h2>
        <p>{{ (user$ | async)?.level }}</p>
      </div>
    </div>

    <div class="profile-actions">
      <ion-button class="profile-btn" fill="clear" shape="round">
        <ion-icon name="body"></ion-icon>
        <span>Meu Corpo</span>
      </ion-button>
      <ion-button class="profile-btn" fill="clear" shape="round">
        <ion-icon name="trophy"></ion-icon>
        <span>Objetivos e Conquistas</span>
      </ion-button>
    </div>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <section class="sections-container">
          <div class="section-title-container">
            <h3>Personal Online</h3>
            <ion-icon name="add"></ion-icon>
          </div>

          <swiper-container [slidesPerView]="1.3">
            <swiper-slide>
              <app-modality-item
                imageUrl="assets/images/weightlifting.jpg"
                [cardType]="'action'"
              ></app-modality-item>
            </swiper-slide>

            <swiper-slide
              *ngFor="let modality of (modalities$ | async)"
            >
              <app-modality-item
                [imageUrl]="modality.image"
                [modality]="modality.title"
              ></app-modality-item>
            </swiper-slide>
          </swiper-container>
        </section>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <section class="sections-container">
          <div class="section-title-container">
            <h3>Programas</h3>
            <span>novo</span>
          </div>

          <swiper-container [slidesPerView]="1.3">
            <swiper-slide
              *ngFor="let modality of (modalities$ | async);  let isFirst = first"
            >
              <app-modality-item
                [imageUrl]="modality.image"
                [modality]="modality.title"
                [cardType]="modality.started ? 'title-subtitle' : 'title-only'"
              ></app-modality-item>
            </swiper-slide>
          </swiper-container>
        </section>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
